<%- include ('navbar'); -%>
<div class="contenu">
<div class="contact">
    
    <div>
        <h1 class="heading">
            CONTACT US
        </h1>

        <p> If you have any question,dont hesitate to cantact us</p>
        <form  method="POST" >
            <label>NAME</label>
            <input type="text" name="name" value="">
            <label>EMAIL</label>
            <input type="text" name="email" value="" >
            <label>SUBJECT</label>
            <input type="text" name="subject" value="">
            <label>MESSAGE</label><br>
            <textarea  name="message" rows="5"  cols="30"></textarea>
            <input type="submit" name="" value="Send message!" class="submit">
            
            
        </form>
    </div>
</div>

</div>

</body>
</html>