<%- include ('navbar'); -%>
<div class="home">
   <h1>WELCOM TO OUR WEBSITE</h1>
   <div class="about">
      <h1> About us</h1>
      <h2> we help you to create your first website</h2>
   </div>

</div>




</body>
</html>