<%- include ('navbar'); -%>
<div class='services'>
    <h1>
       OUR SERVICES
    </h1>

    <div class="service">
        <div class="service1">
           
            <h2>WEB DEVELOPMENT</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Aspernatur laudantium sunt, corporis dolore cumque accusamus, quisquam autem 
                 odit ducimus commodi provident enim, eos fugiat quis maiores vero distinctio architecto? Eos.</p>
        </div>
        <div class="service1">
            <h2>WEB DESIGN</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur laudantium sunt, corporis dolore cumque accusamus, quisquam autem 
                odit ducimus commodi provident enim, eos fugiat quis maiores vero distinctio architecto? Eos.</p>
            
        </div>
        <div class="service1">
            <h2> DIGITAL MARKETING</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur laudantium sunt, corporis dolore cumque accusamus, quisquam autem 
                odit ducimus commodi provident enim, eos fugiat quis maiores vero distinctio architecto? Eos.</p>
           
        </div>
        <div class="service1">
            <h2>SEO</h2>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur laudantium sunt, corporis dolore cumque accusamus, quisquam autem 
                odit ducimus commodi provident enim, eos fugiat quis maiores vero distinctio architecto? Eos.</p>
           
        </div>
          

        </div>
</div>



</body>
</html>